.layout-container {
  /*background-image: -moz-linear-gradient(90deg, #262626 0%, #343333 100%);*/
  background-color: #272727;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6% 1fr 6%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main-container {
  grid-area: main;
}
.home-header {
  grid-area: header;
}
.home-footer {
  grid-area: footer;
}
