#custom-card {
  background-color: #747474;
  border-radius: 5%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}

#title {
  align-self: center;
}

#description {
  align-self: flex-start;
  margin-top: 10px;
}

#value-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-self: center;
}

#value {
  font-weight: bold;
  font-size: 4.6rem;
  height: 85%;
  letter-spacing: -10px;
}
#plus {
  background-color: #5c5c5c;
  padding: 5px;
  border-radius: 60%;
}
