<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dungeon Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="route-active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/characters" routerLinkActive="route-active">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/custom" routerLinkActive="route-active">Custom</a>
        </li>
      </ul>
    </div>
  </div>
  <form class="container-fluid justify-content-end">
    <button class="btn btn-sm btn-outline-red" type="button" routerLink="/login">Logout</button>
  </form>
</nav>
