/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*  NIGHT MODE */
.navbar {
  background-color: #202020;
  color: #747474;
  text-decoration-color: #747474;
}

.navbar-brand {
  color: #747474;
}

.nav-link {
  color: #747474;
}
